@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

h1, h2, h3, h4, h5, h6{
    font-family: Montserrat;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.tilt-container{
    position: absolute;
    background: linear-gradient(140deg, #0984E3, #EC41FF);
    width: 900px;
    height: 800px;
    border-radius: 30px;
    transform: rotate(55deg);
    z-index: -1;
    display: none;
    left: -250px;
    top: -100px;
}


.tilt-sub-container-1{
    position: absolute;
    left: -120px;
    top: 10px;
    width: 250px;
    transform: rotate(45deg);
    height: 250px;
    z-index: 1;
    border-radius: 30px;
    background-color: white;
    opacity: .1;
}

.tilt-sub-container-2{
    opacity: .1;
    width: 100px;
    height: 200px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
    left: 500px;
    bottom: 180px;
    transform: rotate(55deg);
}

.tilt-sub-container-3{
    opacity: .1;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
    top: 540px;
    left: 100px;
    transform: rotate(55deg);
    z-index: -1;
}

.navbar{
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    top: 0px;
    padding: .8em;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.navbar-extend{
    height: 350px;
}

.navbar-style{
    box-shadow: .1px .1px 3px 1px rgb(0, 0, 0);
    background: linear-gradient(140deg, #EC41FF, #0984E3);
}

.add-white{
    color: white !important;
}

.add-burger-color{
    border-color: white !important;
}


.navbar-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-div > h2{
    font-size: 2.2rem;
    color: white;
    order: 1;
    margin-left: 20px;
}

.hidden-div-span a{
    color: inherit;
    padding-bottom: 5px;
    font-size: 1.1rem;
}

.hidden-div-span{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.addColors{
    color: white !important;
}

.hidden-div-span > span{
    width: 70px;
    height: 3px;
}

.nav-links-flex{
    display: flex;
    flex-direction: column;
}

.navbar-div > div{
    word-spacing: 25px;
    padding: 1em;
    order: 2;
}

.hamburger-icon{
    position: fixed;
    right: 20px;
    top: 16px;
    width: 45px;
    height: 42px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    display: none;
    z-index: 1050;

}

#bar-1{
    order: 1;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

#bar-2{
    order: 2;
}

#bar-3{
    order: 3;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.hamburger-icon > span{
    width: 30px;
    height: 3px;
    background-color: black;
}

.tilt-1{
    transform: translate(0px, 5px) rotate(40deg);
}

.tilt-2{
    display: none;
}

.tilt-3{
    transform: translate(0px, -8px) rotate(140deg);
    
}

.show-div{
    display: block !important;
    margin-top: 50px;
}
















header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    margin-top: 100px;
}

.header-img{
    height: auto;
    width: 400px;
    order: 2;
    position: relative;
    animation-name: move-updown;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-updown{
    0%{
        top: 0px;
    }

    100%{
        top: 50px;
    }
}

.header-section{
    order: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 500px;
}

.header-section > h1{
    font-size: 3rem;
    color: white;
    order: 1;
}

.header-section > p{
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    order: 2;

}

.header-section > span{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    order: 3;
}

.header-img-div{
    display: flex;
    flex-direction: row;
    order: 4;
    margin-top: 35px;
}

.header-img-div > img{
    width: 200px;
    cursor: pointer;
}

.header-img-div > img:hover{
    transform: translateY(-10%);
}

.header-img-div > img:nth-child(2){
    margin-left: 20px;
}

.header-social-div{
    display: flex;
    flex-direction: row;
    order: 5;
}

.header-social-div > div{
    width: 40px;
    height: 40px;
    background-color: #EC41FF;
    border-radius: 50%;
    margin-top: 40px;
    cursor: pointer;
}

.header-social-div > div:hover{
    transform: translateY(-6%);

}

button:hover{
    transform: translateY(-10%);

}

.header-social-div > div:nth-child(n + 2){
    margin-left: 10px;
}

.header-social-div > div > i{
    color: white;
    margin-top: 12px;
    margin-left: 13px;
}

.article-1{
    margin-top: 150px;
    padding: 4em;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-1-section-1{
    animation: slideInFromLeft .6s ease-in;
}

.article-1-section-2{
    animation: slideInFromBottom .6s ease-in;
}

.article-1-section-3{
    animation: slideInFromRight .6s ease-in;
}

.article-1 > section{
    width: 260px;
    border-radius: 20px;
    height: 600px;
    padding: 1em;
    background-color: white;
    box-shadow: .1px .1px 10px .1px rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
}

.article-1 > section:nth-child(2){
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
    height: 650px !important;
}

.article-1 > section:nth-child(2n + 1){
    margin-top: 20px;
}

.article-1 > section > h3{
    text-align: center;
}
.article-1 > section > p{
    margin-top: 20px;
    text-align: center;
}

.article-1 > section > button{
    margin-top: 30px;
    background-color: transparent;
    border-radius: 30px;
    padding: 1em;
    border: 3px solid #0984E3;
    color: #0984E3;
    width: 150px;
    align-self: center;
    cursor: pointer;
}

/*Sliding Effects*/

@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateX(0);
    }
}










.secondBtn{
    color: white !important;
    border: 3px solid white !important;
}

button:focus{
    outline-width: 0px;
}

.article-2{
    margin-top: 150px;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-2-img{
    width: 300px;
    align-self: center;
    order: 1;
    animation-name: move-updown;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.article-2-section{
    display: flex;
    flex-direction: column;
    order: 2;
    width: 550px;
}

.article-2-section > h2{
    font-size: 2.5rem;
}

.article-2-section > h6{
    font-size: 1rem;
}

.article-2-section > p{
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: .6;
    
}

.article-2-section-div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.article-2-section-div img{
    width: 60px;
    height: auto;
    align-self: flex-start;
}


.article-2-section-div-col1{
    display: flex;
    order: 1;
    flex-direction: column;
}

.article-2-section-div-col2{
    display: flex;
    order: 2;
    flex-direction: column;
    margin-left: 20px;
}

.article-2-section-div-col1-div1, .article-2-section-div-col1-div2, .article-2-section-div-col1-div3, .article-2-section-div-col2-div1, .article-2-section-div-col2-div2, .article-2-section-div-col2-div3{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 180px;
    margin-top: 20px;
}

.article-2-section-div-col1-div1-section, .article-2-section-div-col1-div2-section, .article-2-section-div-col1-div3-section, .article-2-section-div-col2-div1-section, .article-2-section-div-col2-div2-section, .article-2-section-div-col2-div3-section{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.article-2-section p{
    margin-top: 10px;
    opacity: .6;
}

.article-3{
    padding: 3em;
    margin-top: 100px;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
}

.article-3-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.article-3-section > h6{
    opacity: .6;
    font-size: 1rem;
    margin-top: 30px;
    order: 1;
}

.article-3-section > h2{
    font-size: 2.4rem;
    margin-top: 10px;
    order: 2;
}

.article-3-section > p{
    margin-top: 20px;
    max-width: 600px;
    font-size: 1.2rem;
    order: 3;
}

.article-3-sub-section{
    display: flex;
    order: 4;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.article-3-sub-section > div > img{
    width: 150px;
}

.article-3-section-div{
    order: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.article-3-section-div > span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.article-3-section-div > span:nth-child(2){
    margin-left: 15px;
}

.article-3-sub-section-div1{
    display: flex;
    flex-direction: row;
}

.article-3-sub-section-div2{
    display: none;   
}

.add-transition1{
    display: none;
}

.add-transition2{
    display: flex !important;
    flex-direction: row;

}

.article-4{
    margin-top: 150px;
    padding: 1em;
    background-color: white;
}

.article-4-section{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
}

.article-4-section > h6{
    opacity: .6;
    font-size: 1rem;
}

.article-4-section > h2{
    margin-top: 10px;
    font-size: 2.6rem;
}

.article-4-section > div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.article-4-section a{
    color: black;
    font-weight: bold;
}

.article-4-section > div > a:nth-child(n+2){
    margin-left: 30px;
}

.article-4-sub-section{
    background-color: white !important;
    margin-top: 20px;
    justify-content: space-around !important;
    padding: 2em !important;
}

.article-4-sub-section > section{
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
}.article-4-sub-section > section > button{
    color: white;
    border-color: white;
}

.article-4-sub-section > section:nth-child(n + 2){
    margin-left: 30px;
}

.article-5{
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    padding: 4em;
    padding-bottom: 0em;
    margin-top: 150px;
}

.article-5-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.article-5-section > img{
    width: 800px;
    height: auto;
    margin-top: 50px;
    animation-name: move-updown;
    position: relative;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.article-5-section > h2{
    font-size: 2.5rem;
}

.article-5-section > p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.article-6{
    margin-top: 150px;
    padding: 2em;
}

.article-6-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-6-section > h6{
    font-size: 1rem;
    opacity: .6;
}

.article-6-section > h2{
    font-size: 2.4rem;
    opacity: .8;
    margin-top: 10px;
}

.article-6-section img{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-6-section > h4{
    margin-top: 10px;
    font-size: 1.5rem;
}

.article-6-section > span{
    margin-top: 10px;
    opacity: 1;
}

.article-6-div{
    margin-top: 60px;
    padding: 1em; 
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    border-radius: 20px;
    color: white;
    width: 600px;
}

.article-7{
    background: linear-gradient(30deg, rgba(236, 65, 255, 0.1), rgba(9, 132, 227, 0.1));
    padding: 4em;
    margin-top: 150px;
}

.article-7-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.article-7-section > section{
    display: flex;
    flex-direction: column;
    order: 1;
    width: 450px;
}

.article-7-section > section > h6{
    font-size: 1rem;
    opacity: .6;
}

.article-7-section > section > h2{
    font-size: 2.4rem;
    margin-top: 10px;
}

.article-7-section > section > p{
    opacity: .6;
    margin-top: 20px;
    font-size: 1.1rem;
}

.article-7-section > section > input{
    border-radius: 10px;
    margin-top: 20px;
    border-width: 0px;
    padding: 1em;
}

.article-7-section > section >textarea{
    margin-top: 20px;
    border-width: 0px;
    border-radius: 10px;
    padding: 1em;
}

.article-7-section > section > button{
    margin-top: 20px;
    padding: 1em;
    border-radius: 10px;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
    border-width: 0px;
    cursor: pointer;
}

.article-7-section > img{
    width: 300px;
    align-self: center;
    height: auto;
    animation-name: move-updown;
    position: relative;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    order: 2;
}

.footer{
    padding: 3em;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-section > section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 270px;
}


.footer-section p{
    margin-top: 20px;
}

.footer-section h3{
    font-size: 1.6rem;
}

.light-social > div{
    background-color: rgba(255,255,255, 0.2);
}

.footer > h6{
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}

.swiper-container {
    width: 600px;
    height: 400px;
}

















@media screen and (max-width: 1100px){
    .tilt-container{
        display: block;
    }

    
}

@media screen and (min-width: 1100px){
    .header-section > h1, .header-section > p, .header-section > span{
        color: black !important;
    }

    .article-1{
        padding: 6em;
    }
}

@media screen and (max-width: 1000px){
    .article-1{
        flex-direction: column;
        align-items: center;
    }

    .article-1 > section{
        margin-top: 100px !important;
    }

    .sub-section2-article-1, .sub-section3-article-1{
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 940px){
    .footer > section{
        flex-direction: column;
        align-items: center;
    }

    .footer > section > section, .footer > h6{
        margin-top: 50px;
    }

}



@media screen and (max-width: 900px){
    header{
        flex-direction: column;
    }

    .header-section{
        align-self: flex-start;
    }

    .header-img{
        align-self: flex-end;
        width: 400px;
    }

    .article-2{
        flex-direction: column;
        align-items: center;
    }

    .article-2 > section{
        margin-top: 100px;
    }

    .article-7-section{
        flex-direction: column;
        align-items: center;
    }

    .article-7-section > img{
        margin-top: 100px;
    }

    .article-5-section > img{
        width: 600px;
    }

    .tilt-sub-container-2, .tilt-sub-container-3{
        display: none;
    }

    .header-section > h1{
        font-size: 2.5rem;
    }

    .header-section > p, .header-section > span{
        font-size: 1rem;
    }

    .header-img-div > img{
        width: 160px;
    }

}

@media screen and (max-width: 800px){
    .article-3-sub-section-div1, .article-3-sub-section-div2{
        flex-direction: column;
        align-items: center;
    }
    .article-3-sub-section-div1 > img, .article-3-sub-section-div2 > img{
        margin-top: 20px;
    }

    .tilt-container{
        width: 800px;
  
    }

    #hidden-div{
        display: none;
    }

    .hamburger-icon{
        display: flex;
    }

    .navbar-div > div{
        padding: 0em;
    }
}

@media screen and (min-width: 800px){
    .navbar-div{
        flex-direction: row !important;
    }    

    .hidden-div-span{
        color: black !important;
    }

}

@media screen and (max-width: 720px){
    .tilt-container{
        width: 700px;
    }

    .header-img{
        width: 400px;
    }

    
    .header-section{
        width: 400px;
    }

    .article-2-img, .article-7-section > img{
        width: 250px;
    }

    
}

@media screen and (max-width: 660px){
    .article-5-section > img{
        width: 500px;
    }

    .article-7-section > img{
        width: 250px;
    }

    .article-6-div{
        width: 500px;
    }

    .swiper-container{
        width: 500px;
    }

    .tilt-container{
        width: 540px;
        transform: rotate(55deg);
    }

    .article-2-section-div{
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
    }

    .article-2-section{
        text-align: center;
        width: auto;
    }

}

@media screen and (max-width: 620px){
    .header-section > h1{
        font-size: 1.8rem;
    }

    .header-section > p, .header-section > span{
        font-size: .8rem;
    }
    .header-img-div > img{
        width: 120px;
    }
    .header-social-div > div{
        width: 35px;
        height: 35px;
    }

    .header-social-div > div > i{
        margin-left: 10px;
        margin-top: 10px;
    }
    .header-img{
        width: 300px;
    }

    .article-1 > section{
        width: 220px;
        height: 480px;
    }

    .article-1 p{
        font-size: .8rem;
    }

    .article-1 > section:nth-child(2){
        height: 520px !important;
    }

    .secondBtn, .article-1 > section > button{
        width: 120px !important;
        padding: .8em !important;
    }

    .article-2-img {
        width: 200px;
    }

    .article-2-section > h2, .article-3-section > h2, .article-4-section > h2, .article-5-section > h2, .article-6-section > h2, .article-7-section > section > h2{
        font-size: 2rem;
    }

    .article-2-section > h6, .article-3-section > h6, .article-4-section > h6, .article-6-section > h6, .article-7-section > section > h6{
        font-size: .8rem;
    }

    .article-2-section > p, .article-3-section > p, .article-5-section > p, .article-7-section > section > p{
        font-size: 1rem;
    }

    .article-2-section-div p,  .article-2-section-div h4{
        font-size: .8rem;
    }

    .article-2-section-div img{
        width: 40px;
    }

    .article-2-section-div-col1 > div, .article-2-section-div-col2 > div{
        height: 120px;
    }

    .article-3-sub-section-div1 > img, .article-3-sub-section-div2 > img{
        width: 120px !important;
    }

    .article-5-section > img{
        width: 400px;
    }

    .article-6-div, .swiper-slide{
        width: 500px !important; 
    }

    .article-6-div{
        padding: .8em;
        font-size: .8rem;
    }

    .swiper-container{
        height: 380px !important;
    }

    .article-7-section > img{
        width: 200px;
    }   

    
}

@media screen and (max-width: 560px){
    .swiper-slide, .swiper-container, .article-6-div{
        width: 400px !important;
    }

    .tilt-container{
        width: 450px;
    }

    .header-section{
        width: 320px !important;
    }
}

@media screen and (max-width: 480px){
    .header-img{
        width: 250px;
    }

    .article-5-section > img{
        width: 320px;
    }

    .article-7{
        padding: 4em 1em;
    }

    .article-7-section > section{
        width: auto;
    }

    .swiper-slide, .swiper-container, .article-6-div{
        width: 320px !important;
    }

    .tilt-container{
        width: 400px;
        left: -280px;
    }
}
