@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

h1, h2, h3, h4, h5, h6{
    font-family: Montserrat;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.tilt-container{
    position: absolute;
    background: linear-gradient(140deg, #0984E3, #EC41FF);
    width: 900px;
    height: 800px;
    border-radius: 30px;
    transform: rotate(55deg);
    z-index: -1;
    right: 450px;
    bottom: 120px;
}

.tilt-sub-container-1{
    position: absolute;
    left: -120px;
    top: 10px;
    width: 250px;
    transform: rotate(45deg);
    height: 250px;
    z-index: 1;
    border-radius: 30px;
    background-color: white;
    opacity: .1;
}

.tilt-sub-container-2{
    opacity: .1;
    width: 100px;
    height: 200px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
    left: 500px;
    bottom: 180px;
    transform: rotate(55deg);
}

.tilt-sub-container-3{
    opacity: .1;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
    top: 540px;
    left: 100px;
    transform: rotate(55deg);
    z-index: -1;
}

.navbar{
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
    top: 0px;
    padding: .8em;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.navbar-style{
    box-shadow: .1px .1px 3px 1px rgb(0, 0, 0);
    background-color: #0984E3;
}

.add-white{
    color: white !important;
}


.navbar-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-div > h2{
    font-size: 2.2rem;
    color: white;
    order: 1;
    margin-left: 20px;
}

.navbar-div > div > span > a{
    color: black;
    padding-bottom: 5px;
    font-size: 1.1rem;
}

.navbar-div > div > span{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.navbar-div > div > span > span{
    width: 70px;
    height: 3px;
}


.navbar-div > div{
    word-spacing: 25px;
    padding: 1em;
    order: 2;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    margin-top: 100px;
}

.header-img{
    height: auto;
    width: 500px;
    order: 2;
    position: relative;
    animation-name: move-updown;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-updown{
    0%{
        top: 0px;
    }

    100%{
        top: 50px;
    }
}

.header-section{
    order: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.header-section > h1{
    font-size: 3rem;
    color: white;
    order: 1;
}

.header-section > p{
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    order: 2;

}

.header-section > span{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    order: 3;
}

.header-img-div{
    display: flex;
    flex-direction: row;
    order: 4;
    margin-top: 35px;
}

.header-img-div > img{
    width: 200px;
    cursor: pointer;
}

.header-img-div > img:nth-child(2){
    margin-left: 20px;
}

.header-social-div{
    display: flex;
    flex-direction: row;
    order: 5;
}

.header-social-div > div{
    width: 40px;
    height: 40px;
    background-color: #EC41FF;
    border-radius: 50%;
    margin-top: 40px;
    cursor: pointer;
}

.header-social-div > div:nth-child(n + 2){
    margin-left: 10px;
}

.header-social-div > div > i{
    color: white;
    margin-top: 12px;
    margin-left: 13px;
}

.article-1{
    padding: 4em;
    margin-top: 100px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-1 > section{
    width: 260px;
    border-radius: 20px;
    height: 600px;
    padding: 1em;
    background-color: white;
    box-shadow: .1px .1px 10px .1px rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
}

.article-1 > section:nth-child(2){
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
    height: 650px !important;
}

.article-1 > section:nth-child(2n + 1){
    margin-top: 20px;
}

.article-1 > section > h3{
    text-align: center;
}
.article-1 > section > p{
    margin-top: 20px;
    text-align: center;
}

.article-1 > section > button{
    margin-top: 30px;
    background-color: transparent;
    border-radius: 30px;
    padding: 1em;
    border: 3px solid #0984E3;
    color: #0984E3;
    width: 150px;
    align-self: center;
    cursor: pointer;
}

.secondBtn{
    color: white !important;
    border: 3px solid white !important;
}

button:focus{
    outline-width: 0px;
}

.article-2{
    margin-top: 50px;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-2-img{
    width: 30%;
    align-self: center;
    order: 1;
    animation-name: move-updown;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

.article-2-section{
    display: flex;
    flex-direction: column;
    order: 2;
    width: 550px;
}

.article-2-section > h2{
    font-size: 2.5rem;
}

.article-2-section > h6{
    font-size: 1rem;
}

.article-2-section > p{
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: .6;
    
}

.article-2-section-div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.article-2-section-div img{
    width: 60px;
    height: auto;
    align-self: flex-start;
}


.article-2-section-div-col1{
    display: flex;
    order: 1;
    flex-direction: column;
}

.article-2-section-div-col2{
    display: flex;
    order: 2;
    flex-direction: column;
    margin-left: 20px;
}

.article-2-section-div-col1-div1, .article-2-section-div-col1-div2, .article-2-section-div-col1-div3, .article-2-section-div-col2-div1, .article-2-section-div-col2-div2, .article-2-section-div-col2-div3{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 180px;
    margin-top: 20px;
}

.article-2-section-div-col1-div1-section, .article-2-section-div-col1-div2-section, .article-2-section-div-col1-div3-section, .article-2-section-div-col2-div1-section, .article-2-section-div-col2-div2-section, .article-2-section-div-col2-div3-section{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.article-2-section p{
    margin-top: 10px;
    opacity: .6;
}

.article-3{
    padding: 3em;
    margin-top: 100px;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
}

.article-3-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.article-3-section > h6{
    opacity: .6;
    font-size: 1rem;
    margin-top: 30px;
    order: 1;
}

.article-3-section > h2{
    font-size: 2.4rem;
    margin-top: 10px;
    order: 2;
}

.article-3-section > p{
    margin-top: 20px;
    max-width: 600px;
    font-size: 1.2rem;
    order: 3;
}

.article-3-sub-section{
    display: flex;
    order: 4;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.article-3-sub-section > div > img{
    width: 150px;
}

.article-3-section-div{
    order: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.article-3-section-div > span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.article-3-section-div > span:nth-child(2){
    margin-left: 15px;
}

.article-3-sub-section-div1{
    display: flex;
    flex-direction: row;
}

.article-3-sub-section-div2{
    display: none;   
}

.add-transition1{
    display: none;
}

.add-transition2{
    display: flex !important;
    flex-direction: row;

}

.article-4{
    margin-top: 50px;
    padding: 1em;
    background-color: white;
}

.article-4-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-4-section > h6{
    opacity: .6;
    font-size: 1rem;
}

.article-4-section > h2{
    margin-top: 10px;
    font-size: 2.6rem;
}

.article-4-section > div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.article-4-section a{
    color: black;
    font-weight: bold;
}

.article-4-section > div > a:nth-child(n+2){
    margin-left: 30px;
}

.article-4-sub-section{
    background-color: white !important;
    margin-top: 20px;
    justify-content: space-evenly !important;
    padding: 2em !important;
}

.article-4-sub-section > section:nth-child(n + 2){
    margin-left: 30px;
}

.article-5{
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    padding: 4em;
    padding-bottom: 0em;
    margin-top: 50px;
}

.article-5-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.article-5-section > img{
    width: 800px;
    height: auto;
    margin-top: 50px;
    animation-name: move-updown;
    position: relative;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.article-5-section > h2{
    font-size: 2.5rem;
}

.article-5-section > p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.article-6{
    margin-top: 50px;
    padding: 2em;
}

.article-6-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-6-section > h6{
    font-size: 1rem;
    opacity: .6;
}

.article-6-section > h2{
    font-size: 2rem;
    margin-top: 10px;
}

.article-6-section > img{
    width: 100px;
    margin-top: 20px;
}

.article-6-section > h4{
    margin-top: 10px;
    font-size: 1.5rem;
}

.article-6-section > span{
    margin-top: 10px;
    opacity: 1;
}

.article-6-div{
    margin-top: 20px;
    padding: 2em 1em;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    border-radius: 20px;
    color: white;
    width: 800px;
}

.article-7{
    background: linear-gradient(30deg, rgba(236, 65, 255, 0.1), rgba(9, 132, 227, 0.1));
    padding: 4em;
    margin-top: 50px;
}

.article-7-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.article-7-section > section{
    display: flex;
    flex-direction: column;
    order: 1;
    width: 450px;
}

.article-7-section > section > h6{
    font-size: 1rem;
    opacity: .6;
}

.article-7-section > section > h2{
    font-size: 2.4rem;
    margin-top: 10px;
}

.article-7-section > section > p{
    opacity: .6;
    margin-top: 20px;
    font-size: 1.1rem;
}

.article-7-section > section > input{
    border-radius: 10px;
    margin-top: 20px;
    border-width: 0px;
    padding: 1em;
}

.article-7-section > section >textarea{
    margin-top: 20px;
    border-width: 0px;
    border-radius: 10px;
    padding: 1em;
}

.article-7-section > section > button{
    margin-top: 20px;
    padding: 1em;
    border-radius: 10px;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
    border-width: 0px;
    cursor: pointer;
}

.article-7-section > img{
    width: 300px;
    align-self: center;
    height: auto;
    animation-name: move-updown;
    position: relative;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    order: 2;
}

.footer{
    padding: 3em;
    background: linear-gradient(140deg, #EC41FF, #0984E3);
    color: white;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-section > section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 270px;
}


.footer-section p{
    margin-top: 20px;
}

.footer-section h3{
    font-size: 1.6rem;
}

.light-social > div{
    background-color: rgba(255,255,255, 0.2);
}

.footer > h6{
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
}